@import '../../../styles/variables.scss';

.timetable {
  width: 75%;
  padding: 0 50px 40px;
  background-color: $color-white;
  color: $color-black;

  &__line-header {
    display: flex;
    font-size: 20px;
    text-align: left;
  }
}

.search-flights {
  &__timetable {
    margin: auto;
    margin-bottom: 40px;
  }
}

.nothing-found {
  width: 75%;
  padding: 0 50px;
  margin: 0 auto 50px;
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;

  min-height: 300px;
  color: #2f2f2f;
  background-color: $color-white;
}
