@import './variables.scss';

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;

  &__title {
    font-size: 46px;
  }
}

.btn {
  display: flex;
  width: 340px;
  font-size: 20px;

  color: $color-white;
  // color: #1eb7ee;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  line-height: 60px;
  cursor: pointer;
  background: #1eb7ee;
  // background: $color-white;
  border-radius: 10px 50px 10px 10px;

  &__icon {
    padding: 0 30px;
    font-size: 30px;
  }
}
