@import '../../styles/variables.scss';

.nothing-found {
  width: 75%;
  padding: 0 50px;
  margin: auto;
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;

  min-height: 300px;
  color: #2f2f2f;
  background-color: $color-white;
}
