@import '../../../styles/variables.scss';

.timetable {
  width: 75%;
  padding: 0 50px 40px;
  background-color: $color-white;
  color: $color-black;

  &__line-header {
    display: flex;
    font-size: 20px;
    text-align: left;
  }
}

.search-flights {
  &__timetable {
    margin: auto;
    margin-bottom: 40px;
  }
}